{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <h1 class="title" align="center"> Welcome </h1>
        <table>
            <tr>
                <td> User </td>
                <td> {{ user.title }} {{ user.first_name }} {{ user.family_name }}</td>
            </tr>
            <tr>
                <td> User ID</td>
                <td> {{ user.member_id }}</td>
            </tr>
            <tr>
        </table>
    </div>
</div>
{% include 'bottom.html'%}
